node_modules  
venv

frontend/package.json
*.json
backend/proback/myapp/utils.py
backend/proback/proback/settings.py
backend/proback/proback/__pycache__/settings.cpython-310.pyc
backend/proback/myapp/utils.py
backend/proback/proback/settings.py
backend/proback/proback/settings.py
backend/proback/myapp/utils.py
backend/proback/proback/settings.py
*.pyc
__pycache__/

